@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

html,
body {
    font-family: "Bricolage Grotesque", sans-serif !important;
    height: 100% !important;
    background-color: #121418c5 !important;
}

p {
    font-weight: lighter !important;
}

#bg {
    position: relative;
}

#bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./public/bg.jpg");
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* opacity: 0.5; */
    z-index: -1;
}


.text-light {
    z-index: 1 !important; /* Ensure content stays above the background */
}